version: '3.8'
services:
  eureka-server:
    build: ./eureka-server
    ports:
      - "8761:8761"
  config-server:
    build: ./config-server
    ports:
      - "8888:8888"
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka-server
  order-service:
    build: ./order-service
    ports:
      - "8101:8101"
    depends_on:
      - eureka-server
  payment-service:
    build: ./payment-service
    ports:
      - "8102:8102"
    depends_on:
      - eureka-server
  inventory-service:
    build: ./inventory-service
    ports:
      - "8103:8103"
    depends_on:
      - eureka-server
  monolith-app:
    build: ./monolith-app
    ports:
      - "8081:8081"
