server:
  port: 8080
spring:
  application:
    name: api-gateway
spring:
  cloud:
    gateway:
      routes:
        - id: order
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**
        - id: payment
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/payments/**
        - id: inventory
          uri: lb://INVENTORY-SERVICE
          predicates:
            - Path=/inventory/**
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
